@page "/boxConfiguration"
@using Website.Client.Components
@using Website.Client.Components.Default
@using Website.Client.FormModels
@using Website.Client.Styles

<LoadingPopup IsVisible="@IsSubmitting" />
<EditForm Model="BoxConfigurationModel" OnValidSubmit="@Submit" class="w-full flex flex-col">
    <ObjectGraphDataAnnotationsValidator />

    <div class="flex flex-row w-full justify-between">

        <div class="p-4 bg-gray-100 rounded-md justify-center w-2/6 m-2">
            <h3 class="text-lg font-semibold mb-4 select-none">Light diets</h3>
            <FormDefaultDragDropList Class="flex self-center justify-center items-center" MaxHeight="max-h-96" AddButtonDisplay="Add new light diet"
                                 @bind-DragDropInputs="BoxConfigurationModel.LightDiets" Placeholder="Light diet name" RemoveButtonDisplay="Delete light diet"/>
        </div>

        <div class="p-4 bg-gray-100 rounded-md justify-center w-2/6 m-2">
            <h3 class="text-lg font-semibold mb-4 select-none">Box contents</h3>
            <FormDefaultDragDropList Class="flex self-center justify-center items-center" MaxHeight="max-h-96" AddButtonDisplay="Add new box content"
                                 @bind-DragDropInputs="BoxConfigurationModel.BoxContents" Placeholder="Box content name" RemoveButtonDisplay="Delete box content"/>
        </div>

        <div class="p-4 bg-gray-100 rounded-md justify-center w-2/6 m-2">
            <h3 class="text-lg font-semibold mb-4 select-none">Portion size</h3>
                <FormDefaultDragDropList Class="flex self-center justify-center items-center" MaxHeight="max-h-96" AddButtonDisplay="Add new portion size" HasDefault="true"
                                 @bind-DragDropInputs="BoxConfigurationModel.PortionSizes" Placeholder="Portion size name" RemoveButtonDisplay="Delete portion size" />
        </div>
    </div>

    <div class="flex flex-row self-center mt-5">
        <button type="button" class="@($"{ButtonStyles.GetButtonNavigationDefaultStyle()} bg-lightRed w-20 mx-2")" @onclick="() => Cancel()">Cancel</button>
        <button type="submit" class="@($"{ButtonStyles.GetButtonNavigationDefaultStyle()} bg-lightGreen w-20 mx-2")">Save</button>
    </div>
</EditForm>