@using Website.Client.Util;
@using Website.Client.Styles;

<div>
    @if (!Label.Equals(string.Empty))
    {
        <label for="input" class="@Scaling.GetTextScaling()">@Label</label>
        <br />
    }
    <InputText id="input" type="text" class="@($"{Scaling.GetTextScaling()} {ValidStateCss()} {InputStyles.GetInpuptDefaultStyle()}")"
               @bind-Value="Value" @oninput="OnValueInput" />
    <ValidationMessage class="text-red" For="@For" />
</div>